@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <form method="POST">
        <p>Search: </p>
        <input type="text" name="txtSearch" />
        <button type="submit">Submit</button>
    </form>
    <br />
    <p>Last input: @Model.TxtSearch</p> <!-- Razor is protecting us here -->
    <p>Last input: @{ WriteLiteral(Model.TxtSearch); }</p> <!-- We disable protection with 'WriteLiteral' -->
</div>