<div class="my-component">
    This sample loads Babylon.js from https://cdn.babylonjs.com/babylon.js and builds a simple scene.
</div>

<canvas id="@CanvasGuid.ToString()"
        class="canvas-babylonjs"
        touch-action="none">

</canvas>