@page
@model HappyCoding.AspNetSecurity.ReflectedXss.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="OnHtml">Example for attach on Html</a>
</div>